<!DOCTYPE html>
<html lang="en">
</head>

<body>
  <footer>
    <nav id="footer-icon-bar">
      <a href="https://www.whatsapp.com/?lang=es" target="_blank"><i class="fa-brands fa-whatsapp ficon" ></i></a>
      <a href="https://www.instagram.com/hanyou_earings/" target="_blank"><i class="fa-brands fa-instagram ficon"></i></a>
      <a href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter ficon"></i></a>
      <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl" target="_blank"><i class="fa-solid fa-envelope ficon"></i></a>
    </nav>

  </footer>

 
</body>

</html>